@{
    ViewData["Title"] = "";
    
}

<div class="page-container ptb-60" style="" >
    <div class="container">
        <!-- Contact Us Area -->
        <section class="terms-area panel">
            <div class="ptb-30 prl-30">
                <h3 class="t-uppercase h-title mb-40">  آیین ­نامۀ عضویت:</h3>
                <p>ناشر دانشگاهی به مؤسسه و یا شرکتی اطلاق می­شود که تمام یا بخشی از انتشارات آن، در زمینۀ کتاب­های دانشگاهی می­باشد.</p>
                <h4 class="mb-20">ماده 1: شرایط عضویت</h4>
                <p class="mb-20">کلیۀ ناشران واجد شرایط اعم از اشخاص حقیقی و حقوقی که برای ادامۀ فعالیت خود در انتشار کتاب منع قانونی نداشته باشند با رعایت ضوابط قانونی و موارد زیر می­توانند به عضویت انجمن درآیند:</p>
                <ul class="list-styled mb-20">
                    <li>داشتن پروانۀ نشر معتبر از مراجع قانونی.</li>
                    <li> پذیرفتن اساسنامۀ digioneplus.</li>
                    <li>پذیرش تلاش برای تحقق اهداف انجمن. </li>
                    <li>تعهد به پذیرش مصوبات مجامع عمومی، هیئت مدیره و آیین­نامه­های داخلی انجمن و سایر آیین­نامه­هایی که به منظور پیشبرد اهداف انجمن تدوین و تصویب می شود. </li>
                    <li> اشخاص حقوقی واجد شرایط و متقاضی عضویت در انجمن باید نمایندۀ خود را که مورد تأیید مقام تصمیم­گیرندۀ شخص حقوقی باشد کتباً به انجمن معرفی نمایند. شخص حقوقی عضو انجمن می­تواند نمایندۀ خود را عزل کند مشروط بر اینکه با رعایت مفاد این ماده، جانشین واجد شرایط را به انجمن معرفی نماید.</li>
                    <li>انتشار حداقل 5 عنوان کتاب دانشگاهی و استمرار انتشار همین تعداد کتاب دانشگاهی در طول هر سال و همچنین سپری شدن یک سال از تاریخ صدور پروانۀ نشر. </li>
                    <li>هویت دانشگاهی هر ناشر و واجد شرایط بودن او برای عضویت، پس از تأیید هیئت مدیره عملی خواهد بود.</li>
                    <li>هیئت مدیره موظف است در صورت مخالفت با تقاضای عضویت متقاضی، دلایل رد تقاضا را کتباً حداکثر ظرف مدت یک ماه همراه با نحوۀ رفع اثر آن اعلام دارد. پس از اقدامات لازم و در صورت اعتراض متقاضی، این اعتراض همراه با ذکر دلایل به صورت کتبی، به اولین مجمع عمومی برای رسیدگی و تصمیم­گیری نهایی ارجاع می­شود.</li>
                </ul>

                <h4 class="mb-20">ماده 2: نحوۀ رسیدگی به تقاضای عضویت</h4>
                <ul class="list-styled mb-20">
                    <li>برای عضویت در انجمن، متقاضی حقیقی یا حقوقی برگ درخواست عضویت را تکمیل و همراه با مدارک درخواستی به دفتر انجمن تحویل می­دهد.</li>
                    <li>هیئت مدیره موظف است تقاضاهای رسیده را برابر ماده 1 این آیین­نامه حداکثر ظرف مدت یک ماه مورد رسیدگی قرار دهد.</li>
                </ul>
                <h4 class="mb-20">
                    ماده 3: صدورکارت عضویت
                </h4>
                <p class="mb-20">برای عضو جدید انجمن، حداکثر ظرف مدت 15روز کارت عضویت صادرخواهد شد.</p>
                <h4 class="mb-20">
                    ماده 4 : میزان ورودیه و حق عضویت
                </h4>
                <p class="mb-20">برای عضو جدید انجمن، حداکثر ظرف مدت 15روز کارت عضویت صادرخواهد شد</p>

                <h4 class="mb-20">
                    ماده 5 : تعلیق عضویت
                </h4>
                <p class="mb-20">موارد ذیل با تصویب هیئت مدیره سبب تعلیق عضویت می­شود:</p>
                <ul class="list-styled mb-20">
                    <li>پرداخت نکردن حق عضویت به مدت 6 ماه، پس از 2 مرحله اخطار کتبی به فاصلۀ 15 روز.</li>
                    <li>
                        عدم اجرای مصوبات انجمن  و عدم احراز شرایط بند ج عضویت.
                    </li>
                    <li>تعلیق پروانه نشر.</li>
                    <li>سوء استفاده از نام انجمن به تشخیص هیئت مدیره .</li>
                </ul> 
                <p class="mb-20">تبصره: رفع تعلیق در تمام موارد مذکور منوط به تصویب هیئت مدیره خواهد بود. عضو معلق در طول مدت تعلیق از حقوق امتیازات عضویت در انجمن برخوردار نخواهد بود.</p>
                <h4 class="mb-20">
                    ماده 6: انصراف و لغو عضویت
                </h4>
                <ul class="list-styled mb-20">
                    <li>اعلام کتبی انصراف از عضویت.</li>
                    <li>ابطال پروانه نشر.</li> 
                    <li>تکرار هریک از شرایط تعلیق یا استمرار شرایط تعلیق تا مدت 24 ماه، به تصویب هیئت مدیره.</li>
                </ul>
                <h4 class="mb-20">
                    ماده 7: 
                </h4>
                <ul class="list-styled mb-20">
                    <li>هرگونه تغییر در این آیین­نامه باید به تصویب مجمع عمومی برسد.</li>
                    <li>این آیین­نامه در 7 ماده، 19 بند و یک تبصره در تاریخ 30/1/1383 به تصویب مجمع عمومی digioneplus رسید.</li>
                </ul>
                <div class="col-md-12 col-12 text-center">
                    <a target="_blank" href="~/pdf/aiin-nameh-ozviat.pdf" class="btn btn-info" style="font-weight:bold;">دانلود آیین نامه </a>
                </div>
            </div>
        </section>
        <!-- End Contact Us Area -->
    </div>
</div>
