@{
    ViewData["Title"] = "";
}
<div class="page-container ptb-60"  >
    <div class="container">
        <!-- Contact Us Area -->
        <section class="terms-area panel">
            <div class="ptb-30 prl-30">
                <h3 class="t-uppercase h-title mb-40">اساسنامه انجمن</h3>
                <p class="mb-20 text-center">
                    به نام خدا
                    <br />
                    اساسنامه digioneplus
                    <br />
                    شماره ثبت 17898
                </p> 
                <p  class="mb-20" style="text-align:justify">
حوزۀ کتاب به عنوان یکی از مهم­ترین ومؤثرترین زیرساخت­های فرهنگی، دردودهۀ اخیر باتحولاتِ مهمِ توسعۀ اجتماعی وفرهنگیِ جامعۀ ما همراه گردیده و این خود باعث گشوده شدن افق­های جدید درعرصۀ سیاست­گذاری فرهنگی شده است. فَرایند تخصصی شدن و ایجاد سازمان حرفه­ای نشر وتلاش مشترک برای تشکیل نظام و نهادهای آموزشی و پژوهشی آن از یک­سو، و فراهم نمودن زمینۀ ایجاد همفکری و همسویی میان ناشران دانشگاهی و صیانت و حمایت از حقوق ایشان درعرصه­های علمی و فرهنگی، ملی و بین­المللی از سوی دیگر، شماری از ناشران را برآن داشت که درچارچوب ضوابط قانونی، با مشخصات و شرایط پیش بینی شده در این اساسنامه، digioneplus را تأسیس نمایند.
                </p> 
                <h4 class="mb-20">فصل اول – کلیات و تعاریف</h4>
                 <p class="mb-20 text-center" style="text-align:justify">
                    ماده 1- نام انجمن « digioneplus » است و در این اساسنامه به اختصار انجمن نامیده می­شود.
                    <br />
ماده2- نوع انجمن که با اهداف فرهنگی تشکیل گردیده، غیر تجاری، غیرانتفاعی و غیر سیاسی است و دارای شخصیت حقوقی و استقلال مالی می­باشد .
<br />
ماده 3- تابعیت وسرمایۀ انجمن، ایرانی است.
<br />
ماده 4- مدت فعالیت انجمن از تاریخ تشکیل وصدور مجوز وثبت آن، نامحدود است.
<br />
ماده 5- مرکز اصلی انجمن درتهران به نشانی: تهران، خیابان انقلاب، بین خیابان دانشگاه و ابوریحان، ساختمان فروردین، پلاک 1182، طبقه چهارم، واحد 15 می­باشد.
<br />
ماده6- تغییر نشانی با رعایت مقررات قانونی و تایید وتصویب هیئت مدیره و دبیرخانه هیئت رسیدگی به امور مراکز فرهنگی خواهد بود.
<br />
ماده 7- سرمایه و دارایی انجمن و منابع درآمد آن به شرح زیر است :
                </p>
                <ul class="list-styled mb-20">
                    <li>مبلغ ده میلیون ریال که 35% آن در بدو تأسیس انجمن از سوی مؤسسان تامین و پرداخت شده است .</li> 
                    <li>وجوه نقدی و اموال منقول و غیر منقول که از طرف مؤسسان و یا سایر اشخاص حقیقی یا حقوقی به حساب انجمن واریز ویا واگذارشده و یا درآینده واگذار خواهد شد.</li>
                    <li>هدایا وکمک های بلاعوض اعطایی از سوی اشخاص حقیقی یا حقوقی اعم از بخش خصوصی، عمومی و دولتی .</li>
                    <li>درآمدهای حاصل از فعالیت های انجمن با توجه به اهداف فرهنگی</li>
                    <li>وجوه حاصل از حق عضویت اعضاء</li>
                </ul>
                <p class="mb-20 text-center" style="text-align:justify">
               کلیه اموال و دارایی های انجمن به شرح ماده 7 به نام شخصیت حقوقی انجمن دردفاتر مربوط ثبت می شود و فقط می­توان از منافع آن صرفاً درجهت اجرای اهداف ومقاصد وموضوع فعالیت انجمن استفاده نمود. هرگونه نقل و انتقال اموال غیرمنقول نیز با تصویب مجمع عمومی انجمن انجام می­گیرد.
                </p> 
                <h4 class="mb-20">فصل دوم – وظایف وفعالیت ها</h4>
                 <p class="mb-20 text-center" style="text-align:justify">
                ماده 9- اهداف و موضوع فعالیت انجمن به شرح زیر است :
                 </p> 
                
                <ul class="list-styled mb-20">
                    <li>ارتقای سطح کمّی وکیفی کتب دانشگاهی به منظور اعتلای سطح آگاهی مخاطبان به ویژه دانشجویان علاقه­مند وتلاش درجهت توسعه وگسترش آن .</li>
                    <li>پژوهش ومطالعه پیرامون مسائل ومعضلات مربوط به تولید، چاپ و نشر کتاب­های دانشگاهی با استفاده از نظر اساتید، اندیشمندان وصاحبنظران وارائه پیشنهادهای سازنده به دست اندرکاران مربوط.</li>
                    <li>تشکیل جلسات گفتگو، سخنرانی و همایش وسمینارهای ادواری و جشنواره های فرهنگی به منظور بحث وتبادل­نظر پیرامون مسائل مختلف تولید وچاپ و نشر و سایر امورفرهنگی و حفظ وگسترش روابط سالم فرهنگی بین اعضاء.</li>
                    <li>اقدام درجهت تسهیل و تقویت مبادلات فرهنگی به ویژه مبادلات کتاب درسطح داخلی و بین­المللی به روش­های گوناگون از جمله ایجاد و برپایی نمایشگاه کتاب ومحصولات فرهنگی در داخل وخارج کشور و فراهم نمودن شرایط مناسب برای حضور فعالِ اعضا درنمایشگاه­ها .</li>
                    <li>ایجاد بانک اطلاعاتی در تمام ابعاد آموزشی مربوط به نشر و خدمات وابسته و تبادل اطلاعات و تجربیات به منظور افزایش دانش فنی و مهارت های حرفه­ای ناشران دانشگاهی .</li>
                    <li>اهدای مجموعه­های کتابخانه­ای به کتابخانه­های دانشگاهها و مراکز علمی پژوهشی کشور و سایر اشخاص حقیقی یا حقوقی به ویژه درمناطق محروم به مناسبت های مختلف.</li>
                    <li>تشویق اعضا به تولید مشترک و انتشار کتاب­های مناسب و برتر و ارتقای سطح کیفی کتاب­های منتشره و اعتلای فرهنگ  نشر وکتابخوانی و تلاش در زمینه توزیع مطلوب این گونه کتاب­ها در همه نقاط کشور.</li>
                    <li>انتخاب و معرفی کتابهای برتر و اهدای جوایز به ناشران، نویسندگان، مترجمان، ویراستاران و تصویرگران برای تولید آثار بهتر.</li>
                    <li>اقدام به تشکیل دوره­های کوتاه مدت آزاد فرهنگی مورد  نیاز اعضا در زمینۀ تولید وچاپ و نشر وکلیۀ خدمات وابسته، به منظور بالابردن اطلاعات وآگاهی­های آنان و ارائه روش­های بهتر .</li>
                    <li>تهیه، گردآوری، ترجمه و چاپ و نشر و توزیع جزوه، مقاله، کتاب و اقدام به تاسیس و تجهیز چاپخانه و صحافی با اخذ مجوز لازم.</li>
                    <li>انجام فعالیت های تبلیغی فرهنگی، تهیه و تکثیر نوار، CD و نرم افزارهای چند رسانه­ای آموزشی وتوزیع آن.</li>
                    <li>برقراری ارتباط با دیگر مراکز و انجمن­های فرهنگی و تبادل خدمات وکالاهای فرهنگی و ایجاد ارتباط با اساتید و صاحبنظران امور فرهنگی .</li>
                    <li>اقدام برای رفع اختلافات حرفه­ای احتمالی میان اعضای انجمن از جمله از طریق حکمیت و داوری مرضی­الطرفین.</li>
                </ul>
                <p class="mb-20 text-center" style="text-align:justify">تبصره: برای هرگونه فعالیت درموضوع این اساسنامه پیش از اقدام مجوزهای لازم از مراجع ذیصلاح مربوطه اخذ خواهد شد.
                </p> 
                <p class="mb-20 text-center" style="text-align:justify">
                ماده 10- به منظور نیل به اهداف و موضوع فعالیت­های فرهنگی پیش­بینی شده در اساسنامه، انجمن می­تواند با رعایت مقررات مربوط، به اقدامات و عملیات زیر مبادرت نماید:
                 <ul class="list-styled mb-20">
                     <li>تهیه و تامین مواد وکالاهای مورد نیاز و تدارک وسایل و ابزارکار و تلاش به منظور تأمین هزینه­های انجمن .</li>
                     <li>سرمایه­گذاری و مشارکت با اشخاص حقیقی و حقوقی به منظور بالا بردن سطح کارایی و توانایی­های انجمن .</li>
                     <li>انعقاد قرارداد و انجام معاملات مجاز در محدوده اهداف و موضوع اساسنامه .</li>
                     <li>کوشش برای تامین تسهیلات اعتباری از بانک­ها واشخاص و موسسات اعتباری و قبول هدایا و اعطای جوایز به اشخاص.

                     </li>
                     <li>قبول نمایندگی و اعطای آن به اشخاص حقوقی و حقیقی در موضوع اهداف و فعالیت انجمن.</li>
                </ul>
                 <p class="mb-20 text-center" style="text-align:justify">ماده 11- هرگونه تغییر در موضوع فعالیت و اهداف انجمن باید پس از تصویب مجمع عمومی و قبل از ثبت تغییرات، با اطلاع و تأیید  دبیرخانه هیئت رسیدگی به امور مراکز فرهنگی انجام پذیرد.
                </p> 
                <h4 class="mb-20">
                    فصل سوم – عضویت درانجمن
                </h4>
                <p class="mb-20">ماده 12- کلیه ناشران کتابهای دانشگاهی اعم از اشخاص حقیقی یا حقوقی که دارای پروانه معتبر باشند، می توانند با معرفی یک نماینده و رعایت موارد زیر به عضویت انجمن پذیرفته شوند:
                </p>
                 <ul class="list-styled mb-20">
                     <li>قبول اساسنامه انجمن .</li>
                     <li>پذیرش مصوبات هیئت مدیره و سایرآیین­نامه­ها وشیوه نامه­های مصوب مجامع عمومی.</li>
                     <li>دارابودن شرایط لازم از لحاظ ضوابط انجمن طبق آیین­نامه­ای که به تصویب مجمع عمومی انجمن می­­رسد.</li>
                     <li>قبول عضویت وموافقت با تقاضا، از سوی هیئت مدیره وطبق آیین­نامه خواهد بود.</li>
                </ul>
                <p class="mb-20" style="text-align:justify">
                    تبصره1 : کلیه مؤسسات وسازمان های حقوقی به ازای تمام پروانه های نشر موجود سازمان خود، می توانند تنها یک نماینده درانجمن داشته باشند.
                    <br />
تبصره2 : هر هیئت مدیره مجاز است حداکثر سه نفر را به عنوان عضو افتخاری برگزیند. اعضای افتخاری حق عضویت نمی­پردازند و حق انتخاب کردن و انتخاب شدن در مجامع عمومی ندارند.
<br />
ماده 13– حق عضویت براساس پیشنهاد هیئت مدیره وتصویب مجمع عمومی عادی تعیین خواهد شد.
<br />
ماده 14- اشخاص حقوقی واجد شرایط ومتقاضی عضویت در انجمن باید نماینده خودراکه مورد تأیید مقام تصمیم گیرندۀ شخص حقوقی باشد، کتباً به انجمن معرفی نمایند. شخص حقوقی عضو انجمن می تواند نماینده خود را عزل کند مشروط به اینکه با رعایت مفاد این ماده ، جانشین واجد شرایط را بلافاصله به انجمن معرفی نماید.
<br />
ماده 15- متقاضی عضویت درانجمن تقاضای خود را به هیئت مدیره تسلیم می نماید وهیئت مدیره پس از بررسی وتکمیل مدارک متقاضیان ، تقاضا را با توجه به آیین­نامه عضویت می پذیرد. شرایط لغو عضویت ونیز موارد تعلیق آن به موجب آیین­نامه­ای که از سوی هیئت مدیره پیشنهاد وبه تصویب مجمع عمومی خواهد رسید ، تعیین خواهد شد.
<br />
تبصره : آیین­نامه موضوع ماده 15 این اساسنامه قبل از اجرا به تأیید دبیرخانه هیئت رسیدگی به امور مراکز فرهنگی می رسد ومفاد آن نمی­تواند با ضوابط و مقررات تأسیس مؤسسات و مراکز و انجمن های فرهنگی تعارضی داشته باشد.
<br />
                </p> 
                <h4 class="mb-20">
                    فصل چهارم – ارکان اصلی
                </h4>
                <p class="mb-20">ماده 16- ارکان اصلی و تشکیلات انجمن به شرح زیر است:</p>
                <ul class="list-styled mb-20">
                    <li>مجمع عمومی</li>
                    <li>هیئت مدیره</li>
                    <li>بازرسان</li>
                </ul> 
                <p class="mb-20">ماده 17- انجمن با تصمیم مؤسسان که اسامی و مشخصات آنان درذیل اساسنامه درج گردیده وآن را تصویب کرده­اند، تأسیس شده است، وظایف موسسان به شرح زیر است :
                </p> 
                <ul class="list-styled mb-20">
                    <li>بررسی وتصویب اساسنامه</li>
                    <li>انتخاب مدیر مسئول و اخذ پروانۀ انجمن</li>
                    <li>دعوت مجمع عمومی برای انتخاب اولین هیئت مدیره و بازرسان</li>
                </ul> 
                <p class="mb-20">مؤسسان پس از دریافت پروانۀ انجمن، اختیارات خودرا به مجمع عمومی واگذار می­نمایند.</p> 

                <h4 class="mb-20">
                    مجمع عمومی و وظایف آن:
                </h4>
                <p class="mb-20" style="text-align:justify">
                    ماده 18- مجمع عمومی انجمن متشکل از مؤسسان اولیه وکسانی است که بعداً با رعایت ضوابط قانونی و شرایط پیش­بینی شده در اساسنامه به عنوان ناشران کتاب دانشگاهی به عضویت پذیرفته می­شوند وتا زمانی که عضو جدید پذیرفته نشده، مؤسسان اولیه اعضای مجمع عمومی را تشکیل می دهند.
                    <br />
ماده 19- مجمع عمومی به عنوان عالی­ترین رکن انجمن و مسئول سیاست­گذاری وتصمیم­گیریی در کلیه امور انجمن است واهم وظایف آن به شرح زیر می باشد:
                </p> 
                <ul class="list-styled mb-20">
                    <li>تعیین خط مشی و بررسی و تصویب بودجه و عملکرد و تراز مالی انجمن.</li>
                    <li>تصویب آیین­نامه­ها وشیوه­نامه­های پیشنهادی از سوی هیئت مدیره .</li>
                    <li>هرگونه اصلاح یا تغییر دراساسنامه و یا انحلال انجمن با رعایت مقررات مربوط.</li>
                    <li>انتخاب هیئت مدیره و بازرسان و عزل آنان</li>
                    <li>اخذ تصمیم درباره پیشنهادهای مطرح شده توسط هیئت مدیره و بازرسان .</li>
                </ul>
                <p class="mb-20" style="text-align:justify">
                ماده 20- هرگونه تغییردر اساسنامه وآیین­نامۀ عضویت انجمن و تغییر مدیر مسئول، قبل از ثبت باید به تأیید دبیرخانۀ هیئت رسیدگی به امور مراکز فرهنگی وزارت فرهنگ و ارشاد اسلامی برسد.
                <br />
ماده 21-  مجمع عمومی عادی سالی یکبار  و حداکثر ظرف مدت  چهارماه پس از پایان سال مالی تشکیل می شود. مجمع عمومی فوق العاده  و مجمع عمومی عادی بطور فوق العاده به تشخیص هیئت مدیره یا بازرس یا بنا به درخواست حداقل یک پنجم اعضای انجمن تشکیل می شود.
<br />
تبصره 1 : حداقل یک پنجم اعضای انجمن حق دارند که دعوت اعضا را برای تشکیل مجمع عمومی از هیئت مدیره خواستار شوند و هیئت مدیره باید حداکثر تا بیست روز مجمع مورد درخواست را با رعایت تشریفات مقرره دعوت کند، در غیر اینصورت درخواست­کنندگان  می توانند دعوت مجمع را از بازرس انجمن خواستار شوند و بازرس مکلف خواهد بود که با رعایت تشریفات مقرره مجمع مورد تقاضا را حداکثر تا ده روز دعوت نماید و گرنه اعضای درخواست کننده حق خواهند داشت مستقیماً به دعوت مجمع اقدام کنند به شرط آنکه کلیه تشریفات راجع به دعوت مجمع را رعایت نموده و در آگهی دعوت، به عدم اجابت درخواست خود توسط هیئت مدیره و بازرس تصریح نمایند.
<br />
تبصره 2: درکلیه مجامع عمومی حضور وکیل یا نماینده هریک از اعضا به شرط ارائه مدرک وکالت یا نمایندگی به منزله حضور آن عضو است.
<br />
تبصره 3: هریک از حاضران در مجمع می توانند حداکثر از دو نفر دیگر از اعضای انجمن نمایندگی داشته باشند.
<br />
ماده 22- دعوت اول مجمع عمومی از طریق  پست سفارشی به نشانی های تعیین شده وانتشار در جراید توسط رئیس هیئت مدیره انجام میشود. ساعت و روز ودستور جلسه و محل تشکیل آن در دعوت نامۀ و آگهی قید و فاصله دعوت تا تشکیل جلسه حداقل 10 روز تعیین خواهد شد.
<br />
تبصره : در صورت حضور کلیه اعضای مجمع عمومی در جلسه و امضای صورت جلسه توسط آنان، صدور دعوت نامه و انتشار آگهی در روزنامه ضرورتی نخواهد داشت.
<br />
ماده 23- حدنصاب تشکیل مجامع عمومی اعم از عادی و فوق العاده، حضور نصف به علاوه یک اعضای انجمن است. مصوبات مجمع عمومی عادی با اکثریت (نصف به علاوه یک) اعضای حاضر معتبر بوده و مصوبات مجمع عمومی فوق العاده که مربوط به تغییر اساسنامه و انحلال انجمن می شود، با رای مثبت حد اقل دو سوم اعضای حاضر در مجمع اعتبار خواهد داشت.
<br />
تبصره 1: در صورت به حد نصاب نرسیدن هریک از مجامع عمومی عادی و فوق العاده به فاصله حداکثر 15 روز بعد، جلسه دیگری تشکیل می­ گردد که برای مجمع عمومی عادی، هر تعداد از اعضا که حضور یابند و برای مجمع عمومی فوق العاده، حداقل یک سوم اعضا باید حضور داشته باشند تا جلسه رسمیت داشته باشد.
<br />
تبصره 2: تشریفات قانونی مجمع عمومی فوق العاده همانند مجمع عمومی عادی است.
                </p> 
                
                <h4 class="mb-20">
                    هیئت مدیره ووظایف آن :
                </h4>

            <p class="mb-20" style="text-align:justify">
       ماده 24-  هیئت مدیره متشکل از 7 نفر عضو اصلی و 3 نفر عضو علی البدل است که از بین اعضا یا نمایندگان آنان برای مدت 2 سال توسط مجمع عمومی انتخاب می­ شوند. عزل یک یا چند نفر از اعضای هیئت مدیره قبل از پایان مدت ماموریت و یا انتخاب مجدد آنان حداکثر برای دو دوره متوالی  بلامانع بوده و تصمیم گیری درباره آن به عهده مجمع عمومی است.
       <br />
تبصره: نامزدهای عضویت در هیئت مدیره و بازرسی نباید سوءپیشینه کیفری مؤثر داشته باشند.
<br />
ماده 25- هیئت مدیره از میان خود افرادی را با سمت­های رئیس هیئت مدیره، نایب رئیس، خزانه دار و منشی برمی­گزیند که مدت مأموریت آنان درعناوین یاد شده حداکثر تا پایان دورۀ ماموریت هیئت مدیره خواهد بود. هیئت مدیره، عضوی از انجمن را به عنوان مدیر مسئول برای طول دورۀ مأموریت خود انتخاب می­کند. انتخاب مجدد مدیر مسئول بلامانع است.
<br />
تبصره : مدیرمسئول تابع سیاست­های اجرایی هیئت مدیره بوده و براساس شرح وظایفی که این هیئت تعیین خواهد کرد به انجام وظایف خود اقدام می­کند.
<br />
ماده 26- تاریخ وترتیب تشکیل جلسات هیئت مدیره که حداقل ماهی یک بار درمحل انجمن خواهد بود در جلسه قبل از آن تعیین و به آگاهی اعضای هیئت مدیره خواهد رسید. جلسات هیئت مدیره با حضور اکثریت اعضای آن رسمیت خواهد یافت و تصمیمات با اکثریت آرای حاضر اتخاذ می شود و در صورت تساوی آرا، رأی طرفی که رئیس هیئت مدیره موافق آن است معتبر خواهد بود.
<br />
ماده 27- هیئت مدیره به عنوان نماینده قانونی انجمن دارای کلیه اختیارات لازم برای اداره امور انجمن بوده و اهم وظایف آن به شرح زیر است :
            </p> 
                <ul class="list-styled mb-20">
                    <li>اجرای مصوبات مجمع عمومی</li>
                    <li>تنظیم بودجه وآیین­نامه­ها وارائه آن به مجمع عمومی .</li>
                    <li>پیشنهاد اصلاح و هرگونه تغییر در اساسنامه با رعایت ضوابط قانونی و شرایط اساسنامه .</li>
                    <li>حفظ و حراست از اموال انجمن و تنظیم خلاصۀ صورت دارایی و دیون و تهیه گزارش سالانه از وضعیت کلی انجمن و عملکرد آن.</li>
                    <li>تهیه و تنظیم دفاتر قانونی و ثبت کلیه هزینه های و درآمدهای انجمن .</li>
                    <li>انجام امور اجرایی انجمن و اخذ تصمیم دربارۀ اقدامات و تشریفات قانونی مربوط به ثبت و انتشار تصمیمات قانونی .</li>
                    <li>تحصیل وام یا اعتبار به نمایندگی از سوی انجمن، افتتاح حساب، خرید وفروش، اجاره و عقد قراردادهای لازم و طرح هرگونه دعاوی حقوقی و جزایی در مراحل مختلف دادرسی و ارجاع دعوی به داوری و تعیین وکیل با حق توکیل به غیر و اعطای اختیارات لازم به وکلا و عزل آنان وانجام هرگونه اقدام قانونی به نمایندگی انجمن در حدود ضوابط قانونی و مفاد اساسنامه و اقدامات اجرایی .</li>
                    <li>دعوت و برگزاری مجامع عمومی عادی و فوق العاده</li>
                    <li>تعیین روزنامۀ کثیرالانتشار برای درج آگهی­ های انجمن.</li>
                    <li></li>
                </ul>
                <p class="mb-20" style="text-align:justify">
                ماده 28-  رئیس هیئت مدیره و در غیاب وی نائب رئیس عهده دار اداره و تشکیل جلسات و دعوت از اعضا وگزارش به مجمع عمومی و نظارت بر حسن اجرای مصوبات هیئت مدیره خواهد بود. مدیرمسئول مجری تصمیمات هیئت مدیره است. خزانه دار انجمن، سرپرستی امور مالی را عهده دار بوده وکلیه اسناد هزینه و پرداخت ها و درآمدهای وصولی تحت نظارت او انجام خواهد گرفت و محاسبات مالی در دفاتر مربوط  ثبت و اسناد و مدارک آن به نحو مقتضی نگهداری خواهد شد.

ماده 29-کلیه مذاکرات و تصمیمات هیئت مدیره توسط منشی درصورت جلسات منعکس خواهد شد و به عنوان اسناد انجمن ضبط و مورد استناد قرار خواهد گرفت. صورت جلسات متضمن آرای اعضای هیئت مدیره ( اعم از موافق ومخالف ) و مصوبات است.
                </p> 
             <h4 class="mb-20">
                    بازرس ووظایف واختیارات او
             </h4>
            <p class="mb-20" style="text-align:justify">

ماده 30- مجمع عمومی عادی از بین اعضای خود یک نفر را به عنوان بازرس اصلی و یک نفر را به عنوان بازرس علی البدل به مدت یک سال انتخاب می کند. عزل بازرسان ویا تجدید انتخاب آنان برای دوره های بعدی بلامانع است . بازرسان نباید ازبین اعضای هیئت مدیره برگزیده شوند.
<br />
ماده 31- هیئت مدیره مکلف است یک ماه قبل از تشکیل مجمع عمومی، گزارش های خود را به بازرس ارائه دهد تا مورد بررسی و اظهار نظر بازرس قرارگیرد.گزارش بازرس به مجمع عمومی باید متضمن اعلام نظر صریح نسبت به مفاد گزارشهای هیئت مدیره و وضعیت عمومی انجمن باشد.گزارش های هیئت مدیره و بازرس باید حداقل یک هفته قبل از تشکیل مجمع عمومی درمحل انجمن برای مراجعۀ اعضا واطلاع ازمفاد آن آماده باشد.
<br />
ماده 32- بازرس بدون دخالت مستقیم در امور اجرایی انجمن، موظف است در صورت مشاهدۀ هرگونه سوء جریان در امور انجمن، مراتب را نخست به هیئت مدیره تذکر و سپس در صورت عدم توجه، به اولین مجمع عمومی گزارش دهد و یا در صورت لزوم ، مجمع عمومی را به طور فوق العاده دعوت نماید و موضوع مورد نظر را مطرح کند. درغیر این صورت نسبت به سوء جریان و تخلفات با مباشران آن مسئولیت مشترک خواهد داشت .
<br />
ماده 33- هرگاه بازرس اصلی به دلیل فوت، استعفا، حجر ویا بیماری قادر به انجام وظایف خود نباشد، بازرس علی البدل به جای وی وتا پایان مدت مأموریت وی انجام وظیفه خواهد کرد.
<br />
ماده 34- به منظور حسن جریان نظارت و بازرسی در امور انجمن، بازرس می­تواند در هرزمان به دفاتر و اسناد مراجعه کند و مدیر مسئول و هیئت مدیره انجمن موظف به همکاری با بازرس می­باشند.
            </p> 
 <h4 class="mb-20">
                    فصل پنجم – امورمالی، محاسباتی، انحلال وتصفیه
             </h4>
            <p class="mb-20" style="text-align:justify">
                ماده 35- سال مالی انجمن از اول فروردین هرسال شمسی شروع و به آخر اسفند همان سال ختم می­شود مگر سال اول که از تاریخ تاسیس و ثبت انجمن آغاز و به پایان همان سال خاتمه می­پذیرد.
<br />
ماده 36- امضای چک ها، سفته ها، بروات و هرگونه سند تعهدآور و قرارداد، با امضای ثابت خزانه­دار و یکی از دو امضای رئیس هیئت مدیره یا مدیرمسئول و مهر انجمن معتبر خواهد بود و سایر مکاتبات و نامه­های عادی با امضای مدیرمسئول ومهر انجمن صادر خواهد شد.
<br />
ماده 37- مازاد درآمد انجمن پس از وضع هزینه­های جاری و قانونی در جهت توسعه و پیشبرد اهداف و موضوع فعالیت به مصرف خواهد رسید و نحوه تخصیص آن به مصارف مورد نظر و یا بخشی از آن به ذخیره قانونی به پیشنهاد هیئت مدیره ازسوی مجمع عمومی تعیین خواهدشد.
<br />
ماده 38- حقوق مدیر مسئول توسط هیئت مدیره و حق الزحمه بازرس با تصویب مجمع عمومی تعیین و اعلام خواهد شد.
<br />
ماده 39- درصورتیکه به تشخیص مجمع عمومی فوق العادۀ با حدنصاب مقرر در ماده 23،  اجرای مقاصد و موضوعات پیش بینی شده در اساسنامه مقدور نباشد، مجمع به انحلال انجمن رأی می دهد و همزمان یک یا چند نفر را  به عنوان مدیر یا هیئت تصفیه انتخاب می­کنند. مدیر یا هیئت تصفیه، مسئول وصول مطالبات و پرداخت دیون احتمالی انجمن بوده و موظف است حداکثر شش ماه به کلیه حساب­ها رسیدگی کند و امر تصفیه را خاتمه دهد و به ثبت رساند. چنانچه مدت مزبور و یا اختیارات هیئت تصفیه کافی نباشد، به دعوت مدیر یا هیئت تصفیه، مجمع عمومی تشکیل می­شود. تمدید مأموریت برای مدتی دیگر یا عزل مدیر یا عزل هیئت تصفیه با تصویب مجمع عمومی امکانپذیرخواهد بود.
<br />
ماده 40- باقیماندۀ کلیه دارایی­ها واموال انجمن پس از تصفیه به امور عام­المنفعه و امور دیگری که مجمع عمومی رأی دهنده به انحلال تصویب کند اختصاص خواهد یافت و مجمع عمومی مذکور حق هرگونه اختیاری را در این زمینه خواهد داشت.
<br />
ماده 41- در کلیه مکاتبات وآثار انجمن، نام، شماره ثبت و مجوز تاسیس و نشانی انجمن قید خواهد شد.
<br />
ماده 42- درباره مسائلی که در این اساسنامه پیش بینی نشده طبق مقررات قانونی حاکم بر تشکیل موسسات غیر تجاری و ضوابط مربوط به تاسیس موسسات و مراکز فرهنگی مصوب شورای عالی انقلاب فرهنگی رفتار خواهد شد.
<br />
این اساسنامه در پنج فصل مشتمل بر چهل و دو ماده و ده تبصره در جلسه مورخ 4/10/1391 مجمع عمومی فوق العاده digioneplus قرائت و به اتفاق آراء تصویب شد.
            </p> 

                <div class="col-md-12 col-12 text-center">
                    <a target="_blank" href="~/pdf/new-asasname-3.doc-98.pdf" class="btn btn-info" style="font-weight:bold;">دانلود فایل اساسنمه </a>
                </div>
                <br />
            </div>
        </section>
        <!-- End Contact Us Area -->
    </div>
</div>
