@{
    ViewData["Title"] = "دانلودها - digioneplus";
    
}
<div class="page-container ptb-60" style="" >
    <div class="container">
        <!-- Contact Us Area -->
        <section class="terms-area panel">
            <div class="ptb-30 prl-30">
                <h3 class="t-uppercase h-title mb-40">دانلودها:</h3>
                 <div class="row col-lg-12">
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/form-ozviyat.pdf" class="btn btn-info" style="font-weight:bold;"> دانلود فرم عضویت <i class="fa fa-download" aria-hidden="true"></i> </a>
                             </div>         
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
                 
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/aiin-nameh-ozviat.pdf" class="btn btn-info" style="font-weight:bold;"> دانلود آئین نامه عضویت <i class="fa fa-download" aria-hidden="true"></i> </a>
                             </div>         
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
                             
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/new-asasname-3.doc-98.pdf" class="btn btn-info" style="font-weight:bold;"> دانلود فایل اساسنامه <i class="fa fa-download" aria-hidden="true"></i> </a>
                               </div>         
                      </div>
           
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/شرح-وظایف-کارگروه-ها-جدید.pdf" class="btn btn-info" style="font-weight:bold;"> دانلود شرح وظایف کارگروه ها <i class="fa fa-download" aria-hidden="true"></i> </a>
                               </div>         
                      </div>
                 </div>
                 <div class="row col-lg-12">
                     <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right ">
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/gozaresh heyat modire dore daham.PDF" class="btn btn-primary" style="font-weight:bold;"> دانلود گزارش عملکرد هیئت مدیره دوره نهم انجمن<i class="fa fa-download" aria-hidden="true"></i> </a>
                             </div>         
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right ">
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/نهایی_گزارش_یک_ساله_هیئت_مدیره_انجمن.pdf" class="btn btn-primary" style="font-weight:bold;"> دانلود گزارش عملکرد هیئت مدیره دوره هشتم انجمن<i class="fa fa-download" aria-hidden="true"></i> </a>
                             </div>         
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right ">
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/Final_Poster_1398_8_28.2.jpg" class="btn btn-inprimaryfo" style="font-weight:bold;"> پوستر نخستین جشنواره ملی نشر دانشگاهی<i class="fa fa-download" aria-hidden="true"></i> </a>
                               </div>         
                      </div>
                 </div>
                 <div class="row col-lg-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right ">
                             
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/zavabet-hoozor-7.pdf" class="btn btn-primary" style="font-weight:bold;">  ضوابط حضور در هفتمین نمایشگاه تخصصی کتاب دانشگاهی <i class="fa fa-download" aria-hidden="true"></i> </a>
                               </div>         
                      </div>
           
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right ">
                 
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/aeen-nameh-7.pdf" class="btn btn-primary" style="font-weight:bold;">  آئین نامه انضباطی هفتمین نمایشگاه تخصصی کتاب دانشگاهی <i class="fa fa-download" aria-hidden="true"></i> </a>
                             </div>         
                      </div>
                     </div>
<div class="row col-lg-12">
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/راهنمای-قرارداد-نشر-کتاب.pdf" class="btn btn-info" style="font-weight:bold;">  اهنماي قرارداد انتشار كتاب <i class="fa fa-download" aria-hidden="true"></i> </a>
                             </div>         
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
                 
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/نمونه-قرارداد-آثار-ناشی-از-سفارش.pdf" class="btn btn-info" style="font-weight:bold;"> نمونه قرارداد آثار ناشی از سفارش <i class="fa fa-download" aria-hidden="true"></i> </a>
                             </div>         
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
                             
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/نمونه-قرارداد-پیشنهادی-نشر-کتاب.pdf" class="btn btn-info" style="font-weight:bold;"><i class="fa fa-download" aria-hidden="true"></i> نمونه قرارداد پیشنهادی نشر کتاب</a>
                               </div>         
                      </div>
           
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right ">
							 <div class="form-selector">
                                <a target="_blank" href="~/pdf/شرح-وظایف-کارگروه-ها-جدید.pdf" class="btn btn-info" style="font-weight:bold;"> نمونه قرارداد فایل ورد <i class="fa fa-download" aria-hidden="true"></i> </a>
                               </div>         
                      </div>
                 </div>

            </div>
        </section>
        <!-- End Contact Us Area -->
    </div>
</div>
