@{
    ViewData["Title"] = "فرم عضویت - digioneplus";
    
}

<div class="page-container ptb-60">
    <div class="container">
        <!-- Contact Us Area -->
        <section class="terms-area panel">
            <div class="ptb-30 prl-30">
                <h3 class="t-uppercase h-title mb-40">  فرم عضویت :</h3>
                <h4 class="mb-20">همکار گرامیپیوستن و همراهی شما با اعضای digioneplus، به عنوان صنف و مرجع ناشران کتاب دانشگاهی در ایران، مایه مباهات و خرسندی است.</h4> 
                <h4 class="mb-20">شما می توانید بعد از دریافت فرم های عضویت، ضمن مطالعه و تکمیل، فرم های مربوطه را به همراه مدارک مورد نیاز جهت عضویت در انجمن، به نشانی پستی انجمن ارسال فرمائید.</h4> 
                <h4 class="mb-20">نتیجه درخواست شما بعد از بررسی های لازم کلیه مدارک و رزومه انتشارات شما در هیئت مدیره انجمن، بصورت مکتوب به اطلاع شما خواهد رسید.</h4> 
         
                <div class="col-md-12 col-12 text-center">
                    <a target="_blank" href="~/pdf/form-ozviyat.pdf" class="btn btn-info" style="font-weight:bold;">دانلود فرم عضویت </a>
                </div>
            </div>
        </section>
        <!-- End Contact Us Area -->
    </div>
</div>
