@using Vekalat.Application.Common.Helpers
@model Vekalat.Application.Features.AccountFeature.LoginDto
@{
    ViewData["PasswordRecovery"] = "PasswordRecovery";
    Layout = "_LayoutAccount";
}

<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Password Recovery</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                   <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="@Url.Action("Login", "Account")">Account</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Password Recovery</li>
            </ul>
        </div>
    </div>
</div>
@if (ViewBag.Message == "1")
{
    <div class="container padding-bottom-3x mb-2">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This helps to keep your new password secure.</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Fill in your mobile number below.</li>
                    <li><span class="text-primary text-medium">2. </span>We'll email you a temporary code.</li>
                    <li><span class="text-primary text-medium">3. </span>Use the code to change your password on our secure website.</li>
                </ol>
                <form class="card mt-4" asp-action="PasswordRecovery">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email-for-pass">Enter your mobile number</label>
                            <input class="form-control"  asp-for="Username"
                            type="text" id="email-for-pass" required>
                            <span asp-validation-for=Username class="text-danger"></span>
                            <input asp-for="Password" class="form-control input-md"
                            maxlength="11" value="111" style="display:none">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Get New Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@if (ViewBag.Message == "2")
{
    <main id="mainContent" class="main-content">
        <div class="page-container ptb-60">
            <div class="container">
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i></button>
                    عضو محترم اهل قلم، <b><asp:Label ID="padidname" runat="server" Text="Label"></asp:Label> </b> ،
                    اطلاعات حساب کاربری به موبایل و ایمیل  شما ارسال شد.  <br />

                    <a href="/login" class="btn btn-info">ورود به پنل کاربری</a>

                </div>
            </div>

        </div>
    </main>
}
<br />
<br />

@*@if (ViewBag.Message == "3")
{
    <main id="mainContent" class="main-content">
        <div class="page-container ptb-60">
            <div class="container">
                <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-times"></i></button>
                <p>
                    <br /><br />
                    <b>کاربر گرامی!</b>
                    <br />
                    شماره تلفن همراه وارد شده در وب سایت اهل قلم نیست؛
                    لطفاً برای پیگیری با شماره تلفن @DataConvertor.ToPersianDigit("66496983") تماس بگیرید.
                </p>
            </div>
        </div>
    </main>
}*@



